language: python
python:
  - "3.6"
dist: trusty
addons:
  apt_packages:
    - pandoc
    - pandoc-citeproc
    - texlive-latex-base
    - texlive-latex-extra
    - texlive-fonts-recommended
    - texlive-latex-recommended
    - lmodern
    - texlive-xetex
cache: pip
# command to install dependencies
install:
  - pip install numpy scipy pandas h5py memoize2 matplotlib tqdm coverage
  - pip install codecov seaborn scikit-learn
# command to run tests
script:
  - coverage run -m unittest discover
  - make
after_success:
  - codecov
