matplotlib==2.1.2
pandas==0.25.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.8.1
numpy==1.17.0
emcee==2.2.1
h5py==2.9.0
memoize2==0.1.1
pytablewriter
pytest
pytest-cov
svgutils==0.3.1
pandocfilters>=1.4.2
pylint>=2.3.1
gprof2dot
statsmodels
tables
git+https://github.com/meyer-lab/fcBindingModel.git@e2feb8bef386fa4afb1010b8d29cecf50f470350
