matplotlib==2.1.2
pandas==0.25.3
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.8.1
numpy==1.18.1
emcee==3.0.2
h5py==2.10.0
pytablewriter
pytest
pytest-cov
svgutils==0.3.1
pandocfilters==1.4.2
pylint==2.4.4
statsmodels
tables
